@model FlightLog

@{
    ViewData["Title"] = "Delete Flight Log";
}

<div class="container-fluid">
    <h1>Delete Flight Log</h1>
    <h3>Are you sure you want to delete this flight log?</h3>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FlightDate)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FlightDate)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Aircraft)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Aircraft.RegistrationNumber)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Pilot)</dt>
                <dd class="col-sm-8">@($"{Model.Pilot?.FirstName} {Model.Pilot?.LastName}")</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.TotalFlightTime)</dt>
                <dd class="col-sm-8">@Model.TotalFlightTime.ToString(@"hh\:mm")</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Status)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Status)</dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash"></i> Delete
                </button>
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
            </form>
        </div>
    </div>
</div>